body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
}

.digit {
  display: inline-block;
  font-size: 80px;
  color: #fff;
}

.redDigit {
  color: red;
}
button {
  margin-top: 20px;
  width: 200px;
  min-height: 50px;
  font-size: 1.5rem;
  background: #000;
  color: #fff;
}
